/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
    
}
.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}


.shadow-img{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0); 

}
button-add{
    -fx-background-radius:70;
}
